@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(207, 207, 207);
}



.content {
    border-radius: 15px;
    background-color: #fff;
    height: 90%;
    width: 960px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: purple;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-secondary {
    color: purple;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}


.description-secondary {
    color: #928e8e;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
    height: 45px;
    border: none;
    background-color: #ccc;
    width: 100%;
    border-radius: 15px;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 165px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background-color: #fff;
    color: purple;
    transition: .5s;
}

.btn-secondary {
    background-color: purple;
    border: 1px solid purple;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #fff;
    border: 1px solid purple;
    color: purple;
    transition: .5s;
}

.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.second-column {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin: 1rem 0;
}


.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 1px solid #928e8e;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #928e8e;
}

.link:not(:first-child) {
    margin-left: 10px;
}

.link:hover .item-social-media {
    background-color: purple;
    color: #fff;
    border-color: purple;
    transition: .5s;
}

.label-input {
    display: flex;
    align-items: center;
    background-color: #ccc;
    margin: 8px;
    border-radius: 15px;
}

.label-input input[type=number] {
    -moz-appearance: textfield;
}

.icon {
    color: #928e8e;
    padding: 0 3px;
}

table.paleBlueRows {
    border: 1px solid #FFFFFF;
    width: 60%; 
    height: 30px; 
    text-align: center;
    border-collapse: collapse;
    margin: auto;
  }
  table.paleBlueRows td, table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
  }
  table.paleBlueRows td {
    background-color: rgb(207, 207, 207);
  }
  table.paleBlueRows tbody td {
    font-size: 13px;
  }
  table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.paleBlueRows thead {
    background: purple;
    border-bottom: 5px solid #FFFFFF;
  }
  table.paleBlueRows thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  table.paleBlueRows thead th:first-child {
    border-left: none;
  }
  
  table.paleBlueRows tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
  }
  table.paleBlueRows tfoot td {
    font-size: 14px;
  }

  #listagem {
    background-color: rgb(207, 207, 207);
  }

  .button {
      background-color: purple;
      color: #fff;
      border: 1px solid purple;
      border-radius: 10px;
      padding: 4px;
      font-weight: bold;
      cursor: pointer;
  }

  .button:hover {
      background-color: #fff;
      color: purple;
      border: 1px solid purple;
      transition: .5s;
  }

  .title-h2 {
      color: purple;
      font-size: 25px;
      font-weight: bold;
  }